p.jobtask {
  margin-bottom: 2px;
  /*margin-left: 8px;*/
  }

.jobtask-title {
  cursor: default;
  }

.subtitle {
  margin-bottom: 8px;
  /*color: rgb(121, 136, 156)*/
  color: rgb(151, 170, 195)
}

.jobtask-title.deployable {
  cursor: pointer;
  }

p.jobdetail {
  margin-left: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 0.9em;
  color: gray;
  /*display: block;*/
  display: none;
  border-left: 2px solid silver;
  /*text-align: justify-all;*/
  }

.cv-logo {
  position: relative;
  /*top: -2px;*/
}

.download {
  margin-top: 20px;
}