.deployable {
  cursor: pointer;
  }

p.job-task {
  margin-bottom: 0px;
  /*margin-left: 8px;*/
  }

/* .job .job-company {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  display: inline-block;
} */

.job-header {
  position: relative;
  overflow: visible !important;
}

.col-info {
  color: rgb(151, 170, 195);
  display: inline-block;
  font-size: 0.9em;
  text-align: center;
  padding: 8px 4px;
  }

.job-location {
}

.job-keyword {
  float: left;

  color: #6c757d;
  font-size: .65rem;

  border: 1px solid #BBB;
  border-radius: .2rem;

  padding: 0 .15rem;
  margin-right: .2rem;
  margin-bottom: .15rem;
}

.job-context {
  margin-top: 12px;
  }

.job-company {
  color: rgb(151, 170, 195);
  display: inline-block;
  font-size: 0.85em;
  margin-top: 0.15em;
  float: right;

}

.task .main {
  /* width: 100%; */
  /* border: 1px solid green; */
  /* float: left; */
  /* display: inline-block; */
  vertical-align: top;
}

.task .detail {
  /* border: 1px solid red; */
  /* float: left; */
  /* display: inline-block; */
  width: 70%;
  font-size: 0.85em;
  color: gray;
  display: none;
}

.task .detail p {
  margin-bottom: 1px;
}


.job-title {
  /* display: inline-block; */
  }

/* .subtitle {
  color: rgb(151, 170, 195);
  font-size: 0.8em;
} 
*/

.job-detail {
  margin-left: 8px;
  margin-bottom: 4px;
  padding-left: 8px;
  font-size: 0.9em;
  color: gray;
  display: block;
  /* display: none; */
  border-left: 2px dotted silver;
  /*text-align: justify-all;*/
  }

.cv-logo {
  /* width: 75%; */

  position: relative;
  /*top: -2px;*/
}

.download {
  margin-top: 20px;
}


a.extlink {
  text-decoration: underline silver 0.1em;
}

a.extlink:hover {
  text-decoration: underline black;
}

a.extlink:after {

  font-family: 'FontAwesome';
  content: " \f08e";
  font-size: 0.7em;
  /* padding-left: 0.3em; */
}

