p.intro {
  margin-top: 1em;
}

.download-and-print {
	margin-top: 20px;
	/*border: 1px solid red;*/
}

.download-and-print .item {
	margin: 0 6px;
	/*border: 1px solid green;*/
	display: inline-block;
}

.clear_float {
  clear: both;
  }

.hello {
  margin: 20px 0 40px 0;
  display: block;
  }