body {
  padding-top: 50px !important;
}

.sidebar-wrapper .container-block {
  padding-bottom: 10px !important;
}

.main-wrapper {
  /*padding: 45px 60px !important;*/
  /*min-height: 1800px;*/
}

.main-wrapper .section {
  margin-bottom: 40px !important;
}

.sidebar-wrapper .contact-list li {
  margin-bottom: 10px !important;
}

.footer {
  padding: 20px;
  padding-top: 8px !important;
}
