/* body {
  padding-top: 50px !important;
} */

.sidebar-wrapper {
  min-height: 0 !important;
}

.main-wrapper .section {
  margin-bottom: 40px !important;
}

/* .sidebar-wrapper .contact-list li {
  margin-bottom: 10px !important;
} */

.footer {
  padding: 0 !important;
  /* padding-top: 8px !important; */
}
