.chapter
  %h3
    .title Autres exemples de missions

  %ul
    %li.item   Mise en place d'un service d'hébergement virtualisé basé sur du logiciel libre (Lille, 2008-2009)
    %li.item   Assistance au lancement d'applications web (marchés: professionnels de santé, secteur associatif...)
    %li.item   Architecture d'applications et optimisation de sites e-commerce
    %li.item   Attaché commercial, communication web - Hôtel Masséna Nice **** (1998-2000)
