.chapter
  %h3 Consultant hosting - accompagnement de transition

  .sidenotes
    = image_tag('logo_societegenerale.png', class: "logo", title: "Société Générale")
    .place Société Générale
    .where Paris, 2013, 6 mois
    .keywords DenyAll rWeb, ActivNetwork, banque, transition, coordination projet

  %ul
    %li.item    Reprise d'activité de la filiale Crédit du Nord: périmètres intégration et exploitation N2/N3
    %li.details Transfert de connaissance et de documentation
    %li.details Diffusion au sein des équipes hosting Société Générale
    %li.details Reprise des projets d'intégration, instruction des nouveaux sujets
    %li.details Accompagnement de la reprise du support N2/N3

    %li.item    Etude de rapprochement des solutions Crédit du Nord aux solutions SG

    %li.item    Objectif rempli: excellent niveau de coopération avec l'ancienne équipe, nouvelles entités de support organisées et opérationelles
