.chapter
  %h3 Responsable technique, gamme Itool

  .sidenotes
    = image_tag('logo_atomis.png', class: "logo", title: "Atomis, Internet Services")
    .place ATOMIS, Web agency
    .where Lille (France), 2000-2002
    .keywords  

  %ul
    %li.item   Mise en place d'une plateforme d'applications en ligne.
    %li.item   Outils de gestion, compta, facturation.
