.chapter
  %h3 Team leader, development of Itool Compta

  .sidenotes
    = image_tag('logo_atomis.png', class: "logo", title: "Atomis, Internet Services")
    .place ATOMIS, Web agency
    .where Lille, 2000-2002
    .keywords  asp/saas, php/mysql, framework, haute-dispo métier, sécurité

  %ul
    %li.item	Designed an online accounting solution.
    %li.item	Built the technical basis of the « itool » line of products.
