.chapter
  %h3 Audit et préparation à appel d'offre

  .sidenotes
    = image_tag('logo_france24.png', class: "logo", title: "FRANCE24")
    .place FRANCE 24
    .where Paris, 2008, 1 mois
    .keywords  Akamai, Drupal, fort traffic

  %ul
    %li.item   Audit du couplage des systèmes de production de la chaîne avec certains fournisseurs critiques
    %li.item   Préconisations d'optimisation de l'architecture, préparation du CCTP
