.chapter
  %h3 Co-founder and CTO of Itool Systems

  .sidenotes
    = image_tag('logo_its.png', class: "logo", title: "Itool Systems, Editeur SaaS")
    .place Itool Systems, SaaS software
    .where Lille (France), 2001-2005
    .keywords  Innovation, entrepreneurship, opensource, projet management, capital and shares

  %ul
    %li.item   Coordinated development, support, marketing, and partners' activities
    %li.details Business: web-based accounting software, business-critical tools for our customers.
    %li.details Obtained an Innovation Trophy at the Accountants Annual Congress in 2001. IntraBlog Award in 2007. Integrated and then absorbed Atomis
    %li.item   Analyzed customers requests, managed development team (5)
    %li.details Realizations as a team leader: Itool Compta, Itool Facto, Itool Scan, Itool GED, APG Facto, press routing solutions, data-exchange hub with partners...
    %li.details Designed billing infrastructure and online registration processes.
    %li.item   Production executive, in charge of quality of services, platform/clusters architect
    %li.details Supplied technological intelligence, ergonomics of applications, development methodology.
    %li.details Robustness-oriented hosting, 20 servers over 4 sites, hosting platform certified by IBM's SPC lab.
    %li.details Service availability: 99,96% over the year, ranked nr1 by ip-label (may 2005)
