.chapter
  %h3 Co-fondateur et directeur technique

  .sidenotes
    = image_tag('logo_its.png', class: "logo", title: "Itool Systems, Editeur SaaS")
    .place Itool Systems, Editeur SaaS
    .where Lille, 2001-2005
    .keywords  Innovation, entrepreneuriat, opensource, gestion de projets, ouverture de capital, évangélisation

  %ul
    %li.item   Associé fondateur, membre du comité de direction.
    %li.details Activité: progiciels de gestion et comptabilité en ligne. Lancement du portail itool.net (Experts Comptables) et itool.com (marché PME)
    %li.details Trophée de l'innovation au Congrès National des Experts-Comptables (2001). Prix IntraBlog (2007). Filialisation puis absorption de la société Atomis
    %li.item   Coordination développement, support, marketing, partenaires industriels
    %li.details Analyse du besoin client, encadrement des développeurs (3..6)
    %li.details Réalisations à la tête de cette équipe: Itool Compta, Itool Facto, Itool Scan, Itool GED, APG Facto, intranets routage presse
    %li.details Conception du système de facturation et du processus de souscriptions en ligne
    %li.item   Responsable production & qualité des services, architecte plateforme/clusters
    %li.details Veille technologique, ergonomie des applications, méthodes de développement.
    %li.details Hébergement spécifique et sur-mesure, 20 serveurs sur 4 sites, plateforme certifiée par le laboratoire SPC d'IBM. Disponibilité 2004-2005: 99,96%, classé n°1 sur la qualité par ip-label (mai 2005)
