.chapter
  %h3 Internet and security architect

  .sidenotes
    = image_tag('logo_cdn.png', class: "logo", title: "Crédit du Nord, Société Générale")
    .place Crédit du Nord, Société Générale
    .where Lille, 2010, 1 year
    .keywords  Security, architecture, DenyAll rWeb, IBM TAM, Radware WSD/ODS

  %ul
    %li.item   In charge of technical architecture and evolutions of Customers Internet platforms for Crédit du Nord and 8 branches
    %li.details Several firewalls, reverse proxies, load balancers, IPS, Redhat/OpenBSD
    %li.details HTTP expertise, caching, filtering, L7 routing trhough Apache mod_rewrite
    %li.details Load balancing and optimisations
    %li.details Brought method and tools for configuration versionning and deployment
    %li.item   Defined hosting architecture for Mobile Internet services (customers of 8 branches/banks)
    %li.details Mobile-specific caching, protocols and compression
    %li.item   Revived staging platform to allow better testing and team work (same as production)
