.chapter
  %h3 Hosting specialist - change management

  .sidenotes
    = image_tag('logo_societegenerale.png', class: "logo", title: "Société Générale")
    .place Société Générale
    .where Paris, 2013, 6 months
    .keywords DenyAll rWeb, ActivNetwork, banque, transition, coordination projet

  %ul
    %li.item    Took over the activity of the branch Crédit du Nord: integration and maintenance perimeters (L2, L3).
    %li.details Tansferred knowledge and documentation
    %li.details Dispatched skills and methods within multiple teams on Société Générale side
    %li.details Acquired leadership for ongoing integration projects as well as new topics
    %li.details Helped takeover for L2 and L3 support teams

    %li.item    Studied convergence of Crédit du Nord and Société Générale solutions, methods and technologies

    %li.item    Successfull operations: excellent level of cooperation with legacy teams and new teams; support and project were organised and fully operationnal
