.chapter
  %h3 Architect onboard service platform on TGV trains

  .sidenotes
    = image_tag('logo_sncf.png', class: "logo", title: "SNCF")
    = image_tag('logo_bollore.png', class: "logo", title: "Bolloré Télécom")
    .place SNCF/BOLLORE
    .where Paris, 2009, 6 months
    .keywords  Audit, architecture, embedded, service portals, industrial, ruby on rails, php

  %ul
    %li.item   Defined and built a service platform with internet access, aboard of TGV-Est trains
    %li.details Audited and qualified the technical architecture proposed by the consortium: Orange, Cap Gemini, Alstom, Eutelsat.
    %li.details Recommanded modifications and improvements, worked on the possible commercial offers based on this.
    %li.details Participated in the founding of the joint venture between Bollore-SNCF
    %li.item   Defined technical functionnal architecture for onboard and ground-train link
    %li.item   Directed development of embedded-specific interfaces
