/* Normal */

  @media screen and (min-width: 961px) and (max-width: 1620px) {

    /* Format indicator */
    #formats .normal {
      display: block;
    }


    /* Main */

      #main > section {
        padding: 3em 0;
      }

      #main section.cover {
        padding: 0;
        padding-top: 6em;
        padding-bottom: 4em;
      }

  }

