!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= current_page.data.title || ''
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta{"http-equiv" => "X-UA-Compatible", content:"IE=Edge,chrome=1"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}

    :plain
        <!--[if lte IE 8]>
          <script src="/javascripts/html5shiv.js"></script>
          <link rel="stylesheet" href="/stylesheets/ie8.css" />
        <![endif]-->
        <!--[if lte IE 9]>
          <link rel="stylesheet" href="/stylesheets/ie9.css" />
        <![endif]-->

    -# %link{href: 'https://fonts.googleapis.com/css?family=Exo+2:200,400,700', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_common.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_mobile.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_narrow.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_narrower.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_normal.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/prologue_wide.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/font-awesome.min.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/cv.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/timeline.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/debug.css', type: 'text/css', rel: 'stylesheet' }

  %body

    #header
      .top
        #logo

          -# = link_to '/' do
          -#   = image_tag 'bmc_header.png', class: "logo-large hidden-xs", height: 60
          -#   = image_tag 'bmc_square.png', class: "logo-small visible-xs", height: 50

          %img{src: "/images/bmc_square.png", alt: ""}
          -# %h1#title Bruno MEDICI
          -# %p Consultant indépendant


        %nav#nav
          %ul
            %li
              %a#top-link.skel-layers-ignoreHref{href: "/#top"}
                %span.icon.fa-home top
            %li
              %a#portfolio-link.skel-layers-ignoreHref{href: "/#portfolio"}
                %span.icon.fa-th portfolio
            %li
              %a#about-link.skel-layers-ignoreHref{href: "/#about"}
                %span.icon.fa-user about
            %li
              %a#contact-link.skel-layers-ignoreHref{href: "/#contact"}
                %span.icon.fa-envelope contact

            %li
              %a#cv-link.skel-layers-ignoreHref{href: '/cv.html'}
                %span.icon.fa-envelope CV FR

            %li
              %a#cv-link.skel-layers-ignoreHref{href: '/en/cv.html'}
                %span.icon.fa-envelope CV EN

            %li
              %a#cv-link.skel-layers-ignoreHref{href: '/timeline.html'}
                %span.icon.fa-envelope timeline


      .bottom

        %ul.icons
          %li
            %a.icon.fa-twitter{href: "#"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook{href: "#"}
              %span.label facebook
          %li
            %a.icon.fa-github{href: "#"}
              %span.label github
          %li
            %a.icon.fa-envelope{href: "#"}
              %span.label email



    #main

      = yield


    #footer
      %ul.copyright
        %li &copy; Bruno MEDICI Consultant
        %li All rights reserved
        %li
          Design:
          %a{href: "http://html5up.net"} HTML5 UP


    / Placed at the end of the document so the pages load faster
    -# %script{type: 'text/javascript', src: 'http://code.jquery.com/jquery.js'}

    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/jquery.scrolly.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/jquery.scrollzer.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/skel.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/util.js'}
    %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}

    :plain
      <!--[if lte IE 8]>
        <script src="/javascripts/respond.min.js"></script>
      <![endif]-->

    %script{type: 'text/javascript', src: '/javascripts/prologue.js'}


