.chapter
  %h3 Architecte système d'information

  .sidenotes
    = image_tag('logo_chureims.png', class: "logo", title: "CHU Reims & Chaumount")
    .place CHU Reims & Chaumount
    .where Reims, 2008, 3 mois
    .keywords  Médical, sécurité des données, référentiel national, LDAP, ruby on rails, PKI, postgresql

  %ul
    %li.item   Mise en place d'une architecture fédérant les systèmes d'information de centres hospitaliers, expertise sécurité et proposition de workflow
    %li.item   Assistance à maîtrise d'ouvrage, rédaction d'appels d'offre, suivi des développements
