.chapter
  %h3 Information system architect

  .sidenotes
    = image_tag('logo_chureims.png', class: "logo", title: "Reims & Chaumount Hospitals")
    .place Reims & Chaumount Hospitals
    .where Reims (France), 2008, 3 months
    .keywords  Medical area, data security, national repository, LDAP, ruby on rails, PKI, postgresql

  %ul
    %li.item   Set up a system federating data for several hospitals
    %li.details Case study and recommendation of a technical architecture, security expertise, workflow
    %li.item   Project office, requests for bid, facilitated developments
