.chapter
  %h3 Audit and content-delivery providers selection

  .sidenotes
    = image_tag('logo_france24.png', class: "logo", title: "FRANCE24")
    .place FRANCE 24
    .where Paris, 2008, 1 month
    .keywords  Akamai, Drupal, high traffic load

  %ul
    %li.item   Audited coupling between business-critical systems and content-delivery providers
    %li.item   Published optimization rcommendations for the hosting architecture, set basis for a tender session

