.chapter
  %h3 Web and medias strategy consultant

  .sidenotes
    = image_tag('logo_france24.png', class: "logo", title: "FRANCE24")
    .place FRANCE 24
    .where Paris, 2007, 6 months
    .keywords  Gestion de projet, web, broadcast, akamai, streaming, team-building, opensource, international

  %ul
    %li.item   Lead the 2007 coverage of the French presidential election on the web (1 month, extremely intensive)
    %li.details Animated the dedicated project-oriented team: moderators, translators, 20 international bloggers.
    %li.details Experimentation of the media convergence (broadcaster, internet and television audience).
    %li.details Website providing live video streaming, real-time breaking news and campaigners results, internet visitors reactions, 5 webcams in the newsrooms, at the information source.
    %li.details SMS-number offering interaction to the audience.
    %li.item   Strategic support for the IT department
    %li.details Strengthened the image of France24 in the world, and on the blogosphere (more than 98'000 visitors for both ballots).
    %li.details Built the team and the methods around the required technical skills. Many various projects were started  thereafter, within the channel's teams (Cannes Festival, general elections, etc)
    %li.item   Conducted and wrote the request for bid for the new web infrastructure

