.chapter
  %h3 Consultant stratégie web et médias

  .sidenotes
    = image_tag('logo_france24.png', class: "logo", title: "FRANCE24")
    .place FRANCE 24
    .where Paris, 2007, 6 mois
    .keywords  Gestion de projet, web, broadcast, akamai, streaming, team-building, opensource, international

  %ul
    %li.item   Pilotage de la couverture de l'élection présidentielle 2007 sur le web (1 mois, situation d'urgence)
    %li.details Animation de l'équipe-projet (dispositif événementiel: modérateurs, traducteurs, bloggers internationaux).
    %li.details Convergence médias (diffuseur, internautes, téléspectateurs).
    %li.details Direct vidéo streaming, dépêches et résultats temps-réel, réactions des internautes, 5 webcams au cœur de l'information.
    %li.details Numéro SMS téléspectateurs. Soirées électorales: 98k+ visiteurs en direct.
    %li.item   Soutien stratégique à la DSI (5 mois)
    %li.details Renforcement de l'image sur le web à l'international et dans la blogosphère.
    %li.details Structuration des compétences et méthodes, constitution d'équipe technique.
    %li.details Différents projets ont été ensuite lancés en interne: Festival de Cannes, législatives
    %li.item   Rédaction de l'appel d'offre pour la nouvelle infrastructure web (CCTP)
