.chapter
  %h3 Architecte plateforme video

  .sidenotes
    = image_tag('logo_ftven.png', class: "logo", title: "France Télévisions Editions Numériques")
    .place France Télévisions Editions Numériques
    .where Paris, 2014-2015
    .keywords

  %ul

    %li.item Architecte de la nouvelle plateforme Replay du groupe (tous contenus, projet de 18 mois, plusieurs experts)
    %li.details Conception intégrale de la future plateforme, workflows et choix techniques, from scratch
    %li.details Architecture orientée API REST, micro-services orchestrés par un automate
    %li.details Spécifications techniques générales et détaillées, conception des APIs, accompagnement du développement (Symfony2)
    %li.details Organisation agile SCRUM sur différents aspects du projet: spécifications, développement, déploiements, mises en production partielles
    %li.details En production depuis Q2 2015, >300 programmes par jour

    %li.item Auteur du moteur "rest-ftp-daemon”, logiciel opensource
    %li.details transferts de fichiers “replay" vers les partenaires
    %li.details suivi par NewRelic, déploiement CodeShip, qualité CodeClimate

    %li.item Leader de la refonte du SI Video, système central de gestion des contenus numériques
    %li.details Sensibilisation autour de l’état de l’art: SOA, REST, micro-services
    %li.details Conduite du projet auprès des équipes techniques et des top-managers

    %li.item Accompagnement stratégique de plusieurs projets du groupe
    %li.details cadrage architecture du projet Zoom, contenus à la demande et recommandation
    %li.details responsable de l’architecture pour la gestion de tags transverse
    %li.details évolution des services de TV connectée
    %li.details refonte technique des plateformes des sites de chaînes et programmes

    %li.item Leader du projet de push temps-réel (AMQP) entre les plateformes:
    %li.details tous produits du groupe: Pluzz, CultureBox, FranceTV Info/Sports/Education, etc
    %li.details les partenaires (Molotov.tv, Orange...)
