.chapter
  %h3 Video platform reengineering architect

  .sidenotes
    = image_tag('logo_ftven.png', class: "logo", title: "France Télévisions Editions Numériques")
    .place France Télévisions Editions Numériques
    .where Paris, 2014-2015
    .keywords

  %ul

    %li.item Main architect of he new Replay production platform at France Télévisions (all video contents, 18 months project, many experts) - in charge of:
    %li.details Full conception of the new platform, workflows and technologies, from scratch
    %li.details REST-API architecture based on micro-services orchestrated by an in-house scheduler
    %li.details General and detailed technical specifications, API authoring, developers team support and coaching
    %li.details Agile (Scrum) organization across every aspect of the project (specifications, development, deployments, partial
    %li.details Successful production since Q2 2015, fully operational 300+ programs per day

    %li.item Author of the “rest-ftp-daemon” open source project
    %li.details in charge of all file transfers to our contractors
    %li.details monitored by NewRelic, CodeShip deployments, CodeClimate quality

    %li.item Leader for the re-conception of the central video assets system
    %li.details Raising awareness about state-of-the-art: SOA, REST, micro-services
    %li.details Project leadership with technical teams and top managers

    %li.item Strategic collaboration on several projects across the Group
    %li.details architecture workframe for Zoom, on-demand recommended contents
    %li.details in charge of architecture for the cross-products tagging system
    %li.details connected TV services upgrades
    %li.details overhaul of the platform for channels and programs websites

    %li.item Leader of the global messaging system( AMQP) for realtime notifications between:
    %li.details every platform in the Group (Pluzz, CultureBox, FranceTV Info/Sports/Education...)
    %li.details commercial partners (Molotov.tv, Orange...)
