-#
  .noprint= link_to 'CV en version PDF', '/bruno_medici_fr_131003.pdf'

.chapter
  = image_tag 'public/bmc_square.png', class: '', width: 175
  = image_tag 'public/contactinfo.png', class: 'coordonnees'


.chapter
  %h3  Ingénieur ENIC Télécom Lille, France
  %ul
    %li.item    Communication avec les mobiles: GSM, UMTS
    %li.item    Marketing des technologies de l'information

.chapter
  %h3  International

  %ul
    %li.item    Mobilité
    %li.details France, pays anglophones, monde
    %li.item    Anglais courant
    %li.details Score TOEIC 920 (/990)
    %li.item    Italien scolaire

.chapter
  %h3  Formation
  %ul
    %li.item    Ingénieur Télécom Lille
    %li.details 2005-2006 (ex ENIC)
    %li.item    Stages / séminaires
    %li.details RailsConf 2010 (Baltimore)
    %li.details RailsConf 2009 (Las Vegas)
    %li.details ParisOnRails 2007 (Paris)
    %li.details RailsConf 2007 (Berlin)
    %li.details PHP Conference 2004 (Amsterdam)
    %li.details PHP Conference 2002 (Munich)
    %li.details Cisco CSPFF & CSPFA (Cisco Security PIX Firewall Advanced)
    %li.item    DUT GTR Télécoms et réseaux
    %li.details 2000, IUT de Nice-Sophia-Antipolis
    %li.item    Baccalauréat Scientifique
    %li.item    PSC1 prévention secours civiques

.page-break

.chapter
  %h3  Activités personnelles
  %ul
    %li.item    Photographie
    %li.details Studio, tourisme, portrait, éclairage, exploration urbaine
    %li.item    Aviation loisirs
    %li.details Brevet de base pilote (BB)
    %li.details Brevet de pilote privé en cours (PPL)
    %li.item    Plongée sous-marine (N2/CMAS**)
    %li.item    Communauté & logiciel libre
    %li.details Miroir du site kernel.org
    %li.details Plusieurs serveurs NTP de strate 3
    %li.item    Président de LilleSansFil
    %li.details Association de promotion d'un réseau citoyen sans-fil libre
    %li.details Initiatives citoyennes, autour du wifi libre
    %li.details Stratégie, développement, relations institutions et presse
    %li.details OS embarqués, réseaux mesh
    %li.item    RubyOnRails
    %li.details Développement RoR, architecture service, méthodes agiles
    %li.details= link_to 'github.com/rest-ftp-daemon', 'https://github.com/bmedici/rest-ftp-daemon'
