-#
  .noprint= link_to 'CV en version PDF', '/bruno_medici_fr_131003.pdf'

.chapter
  = image_tag 'public/bmc_square.png', class: '', width: 175
  = image_tag 'public/contactinfo.png', class: 'coordonnees'

.chapter
  %h3  Master degree in engineering at Telecom Lille
  %ul
    %li.item    Mobile communications: GSM, UMTS
    %li.item    Marketing of information technologies

.chapter
  %h3  International

  %ul
    %li.item    Mobility
    %li.details France, english-speacking areas, world
    %li.item    English: nearly fluent
    %li.details TOEIC rate 920 (/990)
    %li.item    Italian: basic knowledge (father)

.chapter
  %h3  Education
  %ul
    %li.item    Télécom Lille Engineer
    %li.details 2005-2006 (France, aka ENIC)
    %li.item    Training and workshops
    %li.details RailsConf 2010 (Baltimore)
    %li.details RailsConf 2009 (Las Vegas)
    %li.details ParisOnRails 2007 (Paris)
    %li.details RailsConf 2007 (Berlin)
    %li.details PHP Conference 2004 (Amsterdam)
    %li.details PHP Conference 2002 (Munich)
    %li.details Cisco CSPFF & CSPFA (Cisco Security PIX Firewall Advanced)
    %li.item    DUT GTR Télécoms et réseaux
    %li.details Higher National Diploma, telecoms and networks, Nice-Sophia-Antipolis France (2000)
    %li.item    Baccalauréat Scientifique
    %li.details 1998, School diploma
    %li.item    PSC1 civil emergency prevention

.page-break

.chapter
  %h3  Extra-curricular
  %ul
    %li.item    Photography
    %li.details Studio, tourism, portrait, lighting, urban exploration
    %li.item    General aviation
    %li.details Ultralight pilot license (BB)
    %li.details Private pilot license in progress (PPL)
    %li.item    Scuba diving
    %li.details L2/CMAS** certified divers (AdvancedOpenWater)
    %li.item    Community & opensource
    %li.details Mirror for Linux' kernel.org in France
    %li.details Several NTP stratum-3 time servers
    %li.item    President of LilleSansFil
    %li.details Association promoting free metropolitan wireless network
    %li.details Organized events related to citizen initiatives, free software and wireless projects
    %li.details Strategy development, press and institutions relations
    %li.details Embedded systems, mesh networking, distributed services
    %li.item    RubyOnRails
    %li.details RoR development RoR, service-oriented architectures, agility
    %li.details= link_to 'github.com/rest-ftp-daemon', 'https://github.com/bmedici/rest-ftp-daemon'

