%section#top.one.cover
	.container
		-# #formats
		-# 	%span.mobile MOBILE
		-# 	%span.narrow NARROW
		-# 	%span.narrower NARROWER
		-# 	%span.normal NORMAL
		-# 	%span.wide WIDE

		%header

			%h2.alt
				Hello, je suis
				%strong Bruno Medici,
				%br
				ingénieur et architecte web

			%p
				XYZ, ABC, XYZ, ABC, XYZ, ABC, XYZ, ABC

		%footer
			%a.button.scrolly{href: "#portfolio"} See my latest projects

