---
title: CV Bruno MEDICI
langs:
  fr: "/cv-bruno-medici-fr"
  en: "/cv-bruno-medici-en"
cvmode: true
---

- current_page.data.title = cv_name

= partial "cv/skills"
= partial "cv/jobs"
= partial "cv/projects"
