---
title: Bruno MEDICI Consultant
langs: {fr: "/", gb: "/en/"}
---

= partial "index/intro"
= partial "index/references"
= partial "index/testimonials"

hr

= partial "index2/intro"
= partial "index2/portfolio"
= partial "index2/about"
= partial "index2/contact"

