section.section

  div.jumbotron
    h1        Hello, I am a pragmatic CTO and web architect
    p.intro   I help small, medium and bigger projects to embrace digital transformation, improve their agility and performance, and power up teams with great technology and products

