section.section

  div.jumbotron
    h1        Hello, je suis CTO pragmatique et architecte web
    p.intro   J'accompagne votre transformation digitale et l'innovation technologique, par une approche pragmatique orientée sur la qualité et la technologie
