%section#portfolio.two
	.container
		%header
			%h2 Portfolio

		%p
			efzezefzfezefz
			efzefzfezefzezfefzefzefz
			fezefzefzef
			efzfezfezefzefefz
			fezefzfezfez

		.row

			.4u{class: "12u$(mobile)"}
				%article.item
					%a.image.fit{href: "#"}
						PIC 02
						%img{src: "/images/pic02.jpg"}
					%header
						%h3 TEXT 02
				%article.item
					%a.image.fit{href: "#"}
						%img{src: "/images/pic03.jpg"}
					%header
						%h3 Lorem ipsum

			.4u{class: "12u$(mobile)"}
				%article.item
					%a.image.fit{href: "#"}
						%img{src: "/images/pic04.jpg"}
					%header
						%h3 Lorem ipsum
				%article.item
					%a.image.fit{href: "#"}
						%img{src: "/images/pic05.jpg"}
					%header
						%h3 Lorem ipsum
