.chapter
  %h3 Architecte - sécurité et réseau

  .sidenotes
    = image_tag('logo_safran.png', class: "logo", title: "SAFRAN Groupe & SNECMA")
    .place SAFRAN Groupe & SNECMA
    .where Réau (France), 2012, 3 mois
    .keywords 50k+ utilisateurs, reversibilité, cisco, bluecoat, juniper, arkoon, ironport, BigIP, défense et sécurité

  %ul
    %li.item    Transfert du périmètre "Bastion groupe" des équipes SNECMA vers le Groupe SAFRAN (processus de réversibilité)
    %li.details Exploration du périmètre, identification des compétences
    %li.details Reverse engineering et rétro-documentation
    %li.details Expertise et culture internet: email, DNS, sécurité réseau et filtrage web, etc
    %li.details Merged multiple platforms over multiple sites
