.chapter
  %h3 Consulting architect - network and security

  .sidenotes
    = image_tag('logo_safran.png', class: "logo", title: "SAFRAN Group & SNECMA")
    .place SAFRAN Group & SNECMA
    .where Réau (Paris Area), 2012, 3 months
    .keywords 50k+ users, cisco, bluecoat, juniper, arkoon, ironport, BigIP, defence and security

  %ul
    %li.item    Handled transfer of skills and responsability for the whole company network bastion, from SNECMA branch team to SAFRAN headquartes
    %li.details Explored perimeter, methods and potential risks
    %li.details Reverse engineering and back-documentation of main topics
    %li.details Internet technologies culture and expertise: email, DNS, network security and web filtering, etc
    %li.details Consolidation de diverses plateformes multi-sites
