.chapter
  %h3
    .title Architectures web et médias
  %ul
    %li.item    Plateformes complexes et redondantes, haute-disponibilité, optimisation
    %li.item    Hébergement opensource, RubyOnRails et LAMP
    %li.item    Loadbalancing Radware/BigIP/LVS, firewalls Juniper/Arkoon/PF
    %li.item    Virtualisation de serveurs, stockage, PKI et infrastructures à certificats
    %li.item    Maîtrise des technologies et standards web: HTML/CSS, AJAX, RubyOnRails, Drupal

.chapter
  %h3
    .title Accompagnement et gestion de projets innovants
  %ul
    %li.item    Analyse des besoins métier, planification, choix et arbitrages d'architecture
    %li.item    Accompagnement d'appels d'offre, recherche de prestataires et partenariats (CCTP, RFI, RFP, RFQ)
    %li.item    Maîtrise du processus de conception, structuration, réalisation, mise en production, support
    %li.item    Expertise du logiciel libre, écosystème opensource et tendances web2
    %li.item    Forte expérience du secteur web et médias: technologique, écosystème métier, enjeux
    %li.item    Audit technique et fonctionnel, optimisation et préconisation

.chapter
  %h3
    .title Domaines d'expertise technique (avancé / expert)
  %ul
    %li.item    Dispositifs industriels à forte capacité (VoD, e-commerce, médias d'information)
    %li.item    Répartition de charge et disponibilité des systèmes (secteurs santé, web, bancaire)
    %li.item    Standards internet Debian Linux, Apache, MySQL, Postfix, Nginx, DNS, SMB/CIFS, Squid, OpenLDAP
    %li.item    Ingénierie d'architectures applicatives (frameworks), optimisation, versionning (SVN, GIT)
    %li.item    RubyOnRails (rails 3, GIT/SVN, Capistrano, TextMate, Passenger)
    %li.item    Architecture réseau, routage et sécurité, proxies HTTP, filtrage, 802.1q

    %li.item    Virtualisation et cloud computing, mass virtual hosting
