.chapter
  %h3
    .title Web and media architectures
  %ul
    %li.item    Complex and redundant platforms, high availability and capacity, optimization
    %li.item    Opensource hosting, RubyOnRails and LAMP systems
    %li.item    Radware/BigIP load balancing, Juniper/Arkoon/PF firewalling
    %li.item    Server virtualization, storage, PKi and certificate-based security
    %li.item    Web technologies and standards such as HTML/CSS, AJAX, RubyOnRails, Drupal

.chapter
  %h3
    .title Innovation and project support
  %ul
    %li.item    Business needs analysis, project planning, technical choices and arbitration about architecture
    %li.item    Requests for bid, providers and partners identification (RFI, RFP, RFQ)
    %li.item    End-to-end process from engineering, specifications, production and support cycles
    %li.item    Opensource software ecosystem expertise and web2 trends
    %li.item    Great knowledge of web and medias areas: tech, business, economic aspects
    %li.item    Features and architecture auditing, optimization and recommendation

.chapter
  %h3
    .title Areas of expertise (advanced / expert)
  %ul
    %li.item    Industrial systems with demanding capacity (VoD, e-commerce, news channels)
    %li.item    Load balancing and systems availability (health, web, banking industries)
    %li.item    Internet standards: Debian GNU/Linux, Apache, MySQL, Postfix, Nginx, DNS, SMB/CIFS, Squid, OpenLDAP
    %li.item    Software architecture engineering (frameworks), tuning, versionning (SVN, GIT)
    %li.item    RubyOnRails (rails 3, GIT/SVN, Capistrano, TextMate, Passenger)
    %li.item    Network architecture, routing and security, HTTP proxies, filtering, 802.1q
    %li.item    Virtualization and cloud computing, mass virtual hosting
