.chapter
  %h3 Urbanist &amp; architect for the new VoD platform

  .sidenotes
    = image_tag('logo_canalplus.png', class: "logo_60", title: "Canal Plus")
    .place CANAL PLUS
    .where Paris, 2011-2012, 18 months
    .keywords Medias, urbanism, architecture, global workflow, transcoding, big storage, delivery

  %ul
    %li.item    Urbanized target video-on-demand plateforms for the whole CANAL+ group
    %li.details Rationalization of systems and methods for every offer like CanalSat, Canal+, CanalPlay Infinity and replay-tv (encoders, media provisioning, etc)
    %li.details Introduced SOA concepts and global workflow functions
    %li.details Described and modelled business process for the entire VoD production stack

    %li.item    Defined the target architecture
    %li.details Generic webservice interfacing with input functions, transformation and transcoding, media files provisionning to partners.
    %li.details Wrote technical sepcifications basis

    %li.item    Lead the call for bids for the workflow engine function

    %li.details RFI and RFP with 12 major media providers, international and national partners (documents mainly written in English).
    %li.details Proof-of-concept deployed for best solutions.
    %li.details Project ran in close cooperation with CTOs and top management

    %li.item    Animated the storage restructuring project within Diffusion branch (> 1 petabyte)
    %li.details Made technical recommandations for workspace storage (transcoding), distribution and long-term archives
    %li.details Introduced horizontal and vertical scalability aspects




