.chapter
  %h3 Architecte plateforme VoD cible

  .sidenotes
    = image_tag('logo_canalplus.png', class: "logo_60", title: "Canal Plus")
    .place CANAL PLUS
    .where Paris, 2011-2012, 18 mois
    .keywords Médias, urbanisme architecture, workflow transverse, transcodage, stockage, delivery, harmonic/rhozet

  %ul
    %li.item    Urbanisation des plateformes VoD du Groupe CANAL+
    %li.details Rationalisation des fonctions et des matériels pour les offres CanalSat, Canal+, CanalPlay Infinity et le Replay (encodeurs, provisioning, etc)
    %li.details Introduction de principes SOA et d'une fonction de workflow transverse
    %li.details Modélisation des procesus métier pour toute la chaîne de production VoD

    %li.item    Définition de l'architecture cible
    %li.details Interfaces webservice génériques vers les fonctions d'ingestion, de transcodage et mise au format, de provisionning vers les partenaires, et de supervision
    %li.details Rédaction des spécications et du cahier des charges technique

    %li.item    Pilotage de l'appel d'offres "moteur de workflow"

    %li.details Processus RFI et RFP auprés de 12 acteurs majeurs du média, américains et européens (documents rédigés en anglais)

    %li.details Phase de maquette/PoC, animation des échanges et des soutenances, analyse des réponses et restitution.
    %li.details Projet mené directement au sein de la Direction des Technologies et du SI.

    %li.item    Pilotage du projet de refonte du stockage médias pour la diffusion (> 1 petabyte)
    %li.details Refonte de l'architecture technique du stockage de travail (transcodage), de distribution et d'archivage moyen terme
    %li.details Introduction de scalabilité horizontale et verticale
    %li.details Animation de l'équipe-projet, spécifications et appel d'offres



