.chapter
  %h3 Architecte portail multimédia embarqué TGV

  .sidenotes
    = image_tag('logo_sncf.png', class: "logo", title: "SNCF")
    = image_tag('logo_bollore.png', class: "logo", title: "Bolloré Télécom")
    .place SNCF/BOLLORE
    .where Paris, 2009, 6 mois
    .keywords  Audit, architecture, embarqué, portail de services, industriel, ruby on rails, php

  %ul
    %li.item   Mise en place d'une plateforme de service embarquée avec accès internet à bord des rames TGV-Est
    %li.details Audit et qualification de l'architecture technique proposée par le consortium Orange, Cap Gemini, Alstom, Eutelsat.
    %li.details Recommandations d'évolution, étude de l'offre commerciale envisageable.
    %li.details Accompagnement du montage de la joint venture Bolloré-SNCF, projet phare soutenu par le plan de relance Sarkozy
    %li.item   Définition d'architecture technique et service, en embarqué et sur liaison sol/bord
    %li.item   Direction du développement des interfaces spécifiques à l'environnement embarqué
