.chapter
  %h3 More freelancing experiences

  %ul
    %li.item   Set up a virtualized hosting service (Lille France)
    %li.item   Cooperated to launch a web application (market: associative, 2008)
    %li.item   Designed information system frame for France Machines Outils (Lille France, 2006)
    %li.item   Marketing assistant, web promotion - Hôtel Masséna Nice **** (Nice French Riviera, 1998)



