
p.job {
  margin-bottom: 4px;
  }


.flag {
  border: 1px solid white;
  /*width: 20px;*/
  margin: 2px 4px;
  }

.clip-circle {
  clip-path: circle(60px at center);
  /* OLD VALUE example: circle(245px, 140px, 50px); */
  /* Yep, even the new clip-path has deprecated stuff. */
}


