body {
  padding-top: 50px !important;
}

.main-wrapper {
  /*padding: 45px 60px !important;*/
}

.main-wrapper .section {
  margin-bottom: 45px !important;
}

.main-wrapper .section {
  margin-bottom: 45px !important;
}


.sidebar-wrapper .contact-list li {
  margin-bottom: 10px !important;
}