---
title: Bruno MEDICI Consultant
---


.container#part1



  %h1
    Bonjour !


.container#part2

  %h2
    Compétences



.container#part3

  %h2
    Références


.container#part4

  %h2
    Contact

  Je répondrai avec plaisir à toutes les demandes

  %form{action: "https://xxxxx.com/messages?form_api_token=<form_api_token>", method: "post"}
    %input{type: "hidden", name: "redirect_to", value: "http://bmconseil.com/"}
    %input{type: "submit", name: "test", value: "Testing this form"}


