%section#top.one.dark.cover
	.container
		%header
			%h2.alt
				Hi! I'm
				%strong Prologue
				efefefzefzefze

				%p
					bla bla bla

		%footer
			%a.button.scrolly{href: "#portfolio"} Go portfolio !

%section#portfolio.two
	.container
		%header
			%h2 Portfolio

		%p
			efzezefzfezefz
			efzefzfezefzezfefzefzefz
			fezefzefzef
			efzfezfezefzefefz
			fezefzfezfez
