---
title: CV Bruno MEDICI (FR+EN)
---

/ = link_to "FR", local_path("/cv-bruno-medici.html", language: :fr)
/ = link_to "EN", url_for("/cv-bruno-medici.html", locale: :en)
/ = link_to "FR", url_for("/cv-bruno-medici.html", locale: :fr)
br
= link_to "FR1", '/cv-bruno-medici', locale: :fr
br
= link_to "FR2", url_for(current_page, locale: :fr)
br
= link_to_locale "FR3", current_page, "fr"
br
br
= link_to "EN1", '/cv-bruno-medici', locale: :en
br
= link_to "EN2", url_for(current_page, locale: :en)
br
= link_to_locale "EN3", current_page, "en"
br
/ = link_to "EN", url_for(page.path, locale: :en)
/ = link_to "FR", url_for(page.path, locale: :fr)


#cv

  div.row
    div.3u class="12u$(mobile)" 
      = partial "cv/infos"

    div.9u class="12u$(mobile)" 
      = partial "cv/skills"
      = partial "cv/experiences"
